# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Local DB
*.db

# Mac
.DS_Store

# VS Code
.vscode/

backend/.venv/
backend/dev.db
backend/*.db
__pycache__/
*.pyc
.env

# Node / Frontend
node_modules/
dist/
build/
frontend/node_modules/
frontend/dist/

frontend/.vite/
.vite/